<a href="https://colab.research.google.com/github/anapelliccione/Introducao_-a_Python/blob/main/M%C3%B3dulo_2_estruturas_de_dados%2C_funcoes_e_iteracoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Estruturas de dados**

###Numeros

Inteiros


1.   int: 1234
2.   bool: True ou False

Reais


1.   float: 0.1234 ou 1234e-4

###Mappings

dict


1.   {"chave": "valor"}
2.   dict(chave = "valor")

###Sequences

Immutable
1. str: "ola, mundo" ou 'ola, mundo'
2. tuple: separa por virgulas os objetos: (False, "Um", 2, 3.1)

Mutable
1. List: separa por virgulas os objetos (False, "Um", 2, 3.1)

**Estruturas oferecidas por Numpy e Pandas**

Numpy


1.   ndarray: representacao vetorial de dados dentro da linguagem

ex: np.array(1,2,3,4) 

Pandas


1.   Series: representacao vetorial com indices
    

*   com listas: pd.Series([3,2,1])
*   com dicionarios: pd.Series(["a": 1, "b": 2, "c": 3]). Isso signifiica que o valor 1 tem indice "a", o 2, "b" etc. Ou seja, com o diicionario, conseguimos nomear os indices 



2.   DataFrames: tabelas. Cada coluna é uma pada Series

ex: pd.DataFrame({"A":[2,1], "B":[1,2]})

3.   datetime64: representacao de tipo de dados para datas
ex: pd.to_datetime(["2022-01-18"])

### Criando dados

In [ ]:
#datetime
import pandas as pd
pd.to_datetime(["2022-01-18", "18/01/2022"])

<ipython-input-1-bbdda8a793d6>:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(["2022-01-18", "18/01/2022"])

DatetimeIndex(['2022-01-18', '2022-01-18'], dtype='datetime64[ns]', freq=None)

In [ ]:
#list
lista = [1, "A", True, [1, 2, 3, 4]]
lista

[1, 'A', True, [1, 2, 3, 4]]

In [ ]:
#tuple
tupla = (1, "A", True)
tupla

(1, 'A', True)

In [ ]:
#dict
dicionario = {"nome": "vivi", "idade": 28, "sexo_feminino": True}
dicionario

{'nome': 'vivi', 'idade': 28, 'sexo_feminino': True}

In [ ]:
#array
import numpy as np

## uma dimensao
print(np.array([1, 2, 3, 4]))

[1 2 3 4]

In [ ]:
## duas dimensoes
print(np.array([[1, 2, 3], ["a", "b", "c"]]))

[['1' '2' '3']
 ['a' 'b' 'c']]

In [ ]:
#Series
##com arrays
pd.Series(np.array([1, 2, 3, 4]))

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
##com lista
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
##com dicionario
pd.Series({"a":1, "b":2})

a    1
b    2
dtype: int64

In [ ]:
#DataFrame
##com dicionario
tabela = pd.DataFrame(
    {"coluna_A": ["a", "b", "c"], 
     "coluna_B": [1,2,3], 
     "coluna_C": [True, True, False],
     "coluna_D": pd.to_datetime(["2022-01-18", "18/1/2022", "18/01/2022"])})

tabela

<ipython-input-38-e2229244633d>:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  "coluna_D": pd.to_datetime(["2022-01-18", "18/1/2022", "18/01/2022"])})

  coluna_A  coluna_B  coluna_C   coluna_D
0        a         1      True 2022-01-18
1        b         2      True 2022-01-18
2        c         3     False 2022-01-18

### Acessando elementos das estruturas de dados (slicing)

In [ ]:
#acessando um elemento de um string
"Palavra"[0:2]
#acessando o ultimo item
"Palavra"[-1]

'a'

In [ ]:
#acessando um elemento de uma lista (já criada acima, "lista")
lista[-1]
#acessando um elemento de uma lista dentro de outra lista
lista[-1][2]
#acessando um intervalor da lista
lista[0:2]

(1, 'A')

In [ ]:
#acessando um elemento de uma tupla (já criada acima, "tupla")
tupla[0:3]

(1, 'A', True)

In [ ]:
#acessando um elemento de um DataFrame (já criado acima, "tabela")

##acessando coluna
tabela["coluna_A"] #acessa a coluna pelo nome (retorna Series)
tabela[["coluna_A"]] #(retorna um DataFrame)
tabela[["coluna_A", "coluna_B"]]

##acessando linhas e colunas
tabela.iloc[[0]]
tabela.iloc[0:2]

#acessando linhas e colunas simultaneamente: por exemplo, linha 1 coluna 2
tabela.iloc[0:2, 0:2]
tabela.iloc[0,0]
#acessando linhas e colunas, mas com um intervalo alternado de colunas
tabela.iloc[0:2, [0,2,3]]

#acessando via labels
tabela.loc[[0]]

  coluna_A  coluna_B  coluna_C   coluna_D
0        a         1      True 2022-01-18

### Tamanho de objetos

In [ ]:
#de strings
len("ola, mundo!")

11

In [ ]:
#de listas
len(["ola, mundo", 1234])

2

In [ ]:
#de tuplas
len(("ola, mundo", True))

2

In [ ]:
#de dict
len({"nome": "vivi", "idade": 28, "sexo_feminino": True})

3

### Obtendo informações de um DataFrame

In [ ]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   coluna_A  3 non-null      object
 1   coluna_B  3 non-null      int64
 2   coluna_C  3 non-null      bool
 3   coluna_D  3 non-null      datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 203.0+ bytes

### Operadores de comparação, lógicos e outros operadores

Comparação

1. : > maior que
2. : < maior que
3. : == igual a 
4. : != diferente de
5. : >= maior ou igual a 
6. : <= menor ou igual a

Lógicos

1. and: compara 2 expressões e, se ambas forem verdadeiras, retorna True
2. or: compara 2 expressões e, se alguma for verdadeira, retorna True
3. not: operador de negação. Retorna o contrário de uma expressão lógica

Outros
1. =: Operador de atribuição. Ex: meu_objeto = 10
2. is: testa se 2 expressões têm a mesma identidade e retorna True em caso positivo. 
3. is not: testa se 2 expressões não têm a mesma identidade e retorna True em caso positivo. 
4. in: retorna True se um valor é um elemento de um objeto
5. not in: retorna a negação de in

In [ ]:
#ex. de "and"
#a função isinstance verifica o que estamos pedindo (no caso, se 6 é inteiro).
#Ou seja, desejamos verificar se 6 é maior que 0 E se é inteiro. Se ambas forem verdadeiros, retornará true.
#Serve, por exemplo, se precisarmos fazer um filtro numa tabela com duas condições 
6>0 and isinstance(6,int)

True

In [ ]:
#ex. de "or"
6==0 or isinstance(6,int)

True

In [ ]:
#ex. de not
#retorna o contrario do resultado da expressão à frente dele 
not 6>0

False

In [ ]:
#ex. de "is": identifica se 2 expressoes têm a msm identidade (mesmo endereço na memória ram)
x = 1234; y = 1234;
print(x == y)
print(x is y) #ou seja, apesar de x ter o mesmo valor de y, não tem a mesma identidade. Por isso, retorna False
#obs: mas só retorna False a partir de 4 digitos. Se tiver menos que isso, ele entenderia como de mesma identidade

#a identidade (o endereço na mempria ram é identificável via a funcao id) 
print(id(x))
print(id(y))

#ex. de "is not"
print(x is not y)

True
False
139938562531696
139938562532560
True

In [ ]:
#ex. de in:
#testando em lista e tupla
2 in [1,2,3]; 2 in (1,2,3)
#testando em dicionario
"b" in {"a":1, "b":2, "c":3}
#testando em strings
"b" in "abc"

True

### Operadores aritmeticos

Para operacoes matriciais, consular help("EXPRESSIONS")

In [ ]:
#exponenciação
2**3

8

In [ ]:
#resto da divisao
6%3

0

In [ ]:
#quociente da divisao
6//3

2

In [ ]:
#Para operacoes matriciais
help("EXPRESSIONS")

### Funcoes
Tem dois componentes:

1.   argumentos
2.   corpo: codigo encapsulado na caixinha

In [2]:
#ex. de funcao
#to_datetime: transforma o formato de data. No "format" colocaremos a string representativa do formato atual
import pandas as pd

pd.to_datetime(
    arg = ["1/1/2022","18/1/2022"],
    format = "%d/%m/%Y"
)

DatetimeIndex(['2022-01-01', '2022-01-18'], dtype='datetime64[ns]', freq=None)

In [3]:
#criando uma funcao a partir de uma base de dados existente
import seaborn as sns
tabela = sns.load_dataset("iris").tail(n=10)
tabela

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [4]:
#funcao para subtrair de cada coluna o valor minimo, desconsiderando valores ausentes
##manualmente 
tabela["sepal_length"] #para acessar, tb podemos usar o codigo tabela.sepal_length
tabela["sepal_length"].min(skipna = True)
tabela_min1 = tabela.sepal_length-tabela.sepal_length.min(skipna = True)
tabela_min2 = tabela.sepal_width-tabela.sepal_width.min(skipna = True)
tabela_min3 = tabela.petal_length-tabela.petal_length.min(skipna = True)
tabela_min4 = tabela.petal_width-tabela.petal_width.min(skipna = True)

In [5]:
#funcao para dividir o resultado pelo valor maximo menos o valor minimo, desconsiderando os ausentes
##manualmente
(tabela_min1/(tabela.sepal_length.max(skipna = True)-tabela.sepal_length.min(skipna = True)))
(tabela_min2/(tabela.sepal_width.max(skipna = True)-tabela.sepal_width.min(skipna = True)))
(tabela_min3/(tabela.petal_length.max(skipna = True)-tabela.petal_length.min(skipna = True)))
(tabela_min4/(tabela.petal_width.max(skipna = True)-tabela.petal_width.min(skipna = True)))

140    0.857143
141    0.714286
142    0.142857
143    0.714286
144    1.000000
145    0.714286
146    0.142857
147    0.285714
148    0.714286
149    0.000000
Name: petal_width, dtype: float64

In [11]:
#para printar a tabela nova (após as alterações)
tabela.sepal_length = (tabela_min1/(tabela.sepal_length.max(skipna = True)-tabela.sepal_length.min(skipna = True)))
tabela.sepal_width = (tabela_min2/(tabela.sepal_width.max(skipna = True)-tabela.sepal_width.min(skipna = True)))
tabela.petal_length = (tabela_min3/(tabela.petal_length.max(skipna = True)-tabela.petal_length.min(skipna = True)))
tabela.petal_width = (tabela_min4/(tabela.petal_width.max(skipna = True)-tabela.petal_width.min(skipna = True)))
tabela

     sepal_length  sepal_width  petal_length  petal_width    species
140      0.818182     0.666667      0.666667     0.857143  virginica
141      1.000000     0.666667      0.111111     0.714286  virginica
142      0.000000     0.222222      0.111111     0.142857  virginica
143      0.909091     0.777778      1.000000     0.714286  virginica
144      0.818182     0.888889      0.777778     1.000000  virginica
145      0.818182     0.555556      0.222222     0.714286  virginica
146      0.454545     0.000000      0.000000     0.142857  virginica
147      0.636364     0.555556      0.222222     0.285714  virginica
148      0.363636     1.000000      0.444444     0.714286  virginica
149      0.090909     0.555556      0.111111     0.000000  virginica

In [ ]:
#Regra geral da função
def nome_funcao(arg1, arg2, ...):
  #corpo: codigo que a funcao executa
  return #o objeto retornado

In [ ]:
#fazendo a funcao acima
def normalizar(x):
  return (x - x.min(skipna = True)) / (x.max(skipna = True) - x.min(skipna = True))

In [12]:
#fazendo ainda mais limpa, para evitar chamar a funcao x.min 2 vezes
#colocaremos um objeto intermediario
def normalizar(x):
  x_min = x.min(skipna = True)
  return (x - x_min) / (x.max(skipna = True) - x_min)

In [15]:
#utilizando a funcao na nossa base de dados
import seaborn as sns
tabela = sns.load_dataset("iris").tail(n=10)
tabela.sepal_length = normalizar(tabela.sepal_length)
tabela.sepal_width = normalizar(tabela.sepal_width)
tabela.petal_length = normalizar(tabela.petal_length)
tabela.petal_width = normalizar(tabela.petal_width)
tabela

     sepal_length  sepal_width  petal_length  petal_width    species
140      0.818182     0.666667      0.666667     0.857143  virginica
141      1.000000     0.666667      0.111111     0.714286  virginica
142      0.000000     0.222222      0.111111     0.142857  virginica
143      0.909091     0.777778      1.000000     0.714286  virginica
144      0.818182     0.888889      0.777778     1.000000  virginica
145      0.818182     0.555556      0.222222     0.714286  virginica
146      0.454545     0.000000      0.000000     0.142857  virginica
147      0.636364     0.555556      0.222222     0.285714  virginica
148      0.363636     1.000000      0.444444     0.714286  virginica
149      0.090909     0.555556      0.111111     0.000000  virginica

### Estruturas de repetição e de decisão

Decisão: if, else, elif
Repetição: for e map

In [17]:
#Importando bibliotecas
from statsmodels import datasets

In [35]:
#carregando dados de exemplo
#o acesso aos dados é feito via ".data"
tabela_indices = datasets.get_rdataset("EuStockMarkets").data
tabela_indices

          DAX     SMI     CAC    FTSE
0     1628.75  1678.1  1772.8  2443.6
1     1613.63  1688.5  1750.5  2460.2
2     1606.51  1678.6  1718.0  2448.2
3     1621.04  1684.1  1708.1  2470.4
4     1618.16  1686.6  1723.1  2484.7
...       ...     ...     ...     ...
1855  5460.43  7721.3  3939.5  5587.6
1856  5285.78  7447.9  3846.0  5432.8
1857  5386.94  7607.5  3945.7  5462.2
1858  5355.03  7552.6  3951.7  5399.5
1859  5473.72  7676.3  3995.0  5455.0

[1860 rows x 4 columns]

In [27]:
#Estruturas de decisao - if
#queremos calcular a variação % diária, tirar uma média 
#e criar uma coluna na qual apontaremos se a variação média histórica é positiva ou negativa
#regra geral
if condicao_verdadeira:
  codigo_a_ser_executado

In [36]:
tabela_indices.DAX.pct_change().mean()

0.0007052174343769715

In [37]:
#regra para o caso concreto
if tabela_indices.DAX.pct_change().mean() > 0:
  tabela_indices["historico_dax"] = "Positivo"
tabela_indices

          DAX     SMI     CAC    FTSE historico_dax
0     1628.75  1678.1  1772.8  2443.6      Positivo
1     1613.63  1688.5  1750.5  2460.2      Positivo
2     1606.51  1678.6  1718.0  2448.2      Positivo
3     1621.04  1684.1  1708.1  2470.4      Positivo
4     1618.16  1686.6  1723.1  2484.7      Positivo
...       ...     ...     ...     ...           ...
1855  5460.43  7721.3  3939.5  5587.6      Positivo
1856  5285.78  7447.9  3846.0  5432.8      Positivo
1857  5386.94  7607.5  3945.7  5462.2      Positivo
1858  5355.03  7552.6  3951.7  5399.5      Positivo
1859  5473.72  7676.3  3995.0  5455.0      Positivo

[1860 rows x 5 columns]

In [44]:
#Estruturas de decisao - if e o else
if tabela_indices.head(4).DAX.pct_change().mean() > 0:
  tabela_indices["historico_dax"] = "positivo"
else:
  tabela_indices["historico_dax"] = "neutro ou negativo"

tabela_indices

          DAX     SMI     CAC    FTSE       historico_dax
0     1628.75  1678.1  1772.8  2443.6  neutro ou negativo
1     1613.63  1688.5  1750.5  2460.2  neutro ou negativo
2     1606.51  1678.6  1718.0  2448.2  neutro ou negativo
3     1621.04  1684.1  1708.1  2470.4  neutro ou negativo
4     1618.16  1686.6  1723.1  2484.7  neutro ou negativo
...       ...     ...     ...     ...                 ...
1855  5460.43  7721.3  3939.5  5587.6  neutro ou negativo
1856  5285.78  7447.9  3846.0  5432.8  neutro ou negativo
1857  5386.94  7607.5  3945.7  5462.2  neutro ou negativo
1858  5355.03  7552.6  3951.7  5399.5  neutro ou negativo
1859  5473.72  7676.3  3995.0  5455.0  neutro ou negativo

[1860 rows x 5 columns]

In [45]:
#utilizando o elif
if tabela_indices.head(4).DAX.pct_change().mean() > 0:
  tabela_indices["historico_dax"] = "positivo"
elif tabela_indices.head(4).DAX.pct_change().mean() == 0:
  tabela_indices["historico_dax"] = "neutro"
else: 
  tabela_indices["historico_dax"] = "negativo"

tabela_indices

          DAX     SMI     CAC    FTSE historico_dax
0     1628.75  1678.1  1772.8  2443.6      negativo
1     1613.63  1688.5  1750.5  2460.2      negativo
2     1606.51  1678.6  1718.0  2448.2      negativo
3     1621.04  1684.1  1708.1  2470.4      negativo
4     1618.16  1686.6  1723.1  2484.7      negativo
...       ...     ...     ...     ...           ...
1855  5460.43  7721.3  3939.5  5587.6      negativo
1856  5285.78  7447.9  3846.0  5432.8      negativo
1857  5386.94  7607.5  3945.7  5462.2      negativo
1858  5355.03  7552.6  3951.7  5399.5      negativo
1859  5473.72  7676.3  3995.0  5455.0      negativo

[1860 rows x 5 columns]

####Repetição
Usamos quando estivermos aplicando uma função para vários grupos de dados. Por exemplo, para várias colunas

In [46]:
#ex: calcular a funcao "normalizar" (que fizemos acima) para cada coluna da base de dados, em vez de uma coluna por vez
def normalizar(x):
  x_min = x.min(skipna = True)
  return (x - x_min) / (x.max(skipna = True) - x_min)

In [47]:
tabela_indices = datasets.get_rdataset("EuStockMarkets").data
tabela_indices

          DAX     SMI     CAC    FTSE
0     1628.75  1678.1  1772.8  2443.6
1     1613.63  1688.5  1750.5  2460.2
2     1606.51  1678.6  1718.0  2448.2
3     1621.04  1684.1  1708.1  2470.4
4     1618.16  1686.6  1723.1  2484.7
...       ...     ...     ...     ...
1855  5460.43  7721.3  3939.5  5587.6
1856  5285.78  7447.9  3846.0  5432.8
1857  5386.94  7607.5  3945.7  5462.2
1858  5355.03  7552.6  3951.7  5399.5
1859  5473.72  7676.3  3995.0  5455.0

[1860 rows x 4 columns]

In [54]:
#utilizando o or para repetir a função sobre as colunas da tabela
#"i" é o iterador em geral
#primeiro, vamos ver quais sao as colunas
tabela_indices.columns 
#fazendo a iteração, mas sem salvar as mudanças na tabela
for(coluna) in tabela_indices.columns:
  normalizar(tabela_indices[coluna])

#fazendo a iteração, salvando as mudanças na tabela
for(coluna) in tabela_indices.columns:
  tabela_indices[coluna] = normalizar(tabela_indices[coluna])

tabela_indices

           DAX       SMI       CAC      FTSE
0     0.047329  0.013290  0.058254  0.041714
1     0.044168  0.014814  0.050225  0.045972
2     0.042680  0.013363  0.038524  0.042894
3     0.045717  0.014169  0.034959  0.048589
4     0.045115  0.014536  0.040360  0.052258
...        ...       ...       ...       ...
1855  0.848307  0.898793  0.838344  0.848281
1856  0.811798  0.858732  0.804680  0.808568
1857  0.832945  0.882118  0.840576  0.816111
1858  0.826274  0.874073  0.842736  0.800026
1859  0.851085  0.892199  0.858326  0.814264

[1860 rows x 4 columns]

In [55]:
#repetição utilizando a função map para repetrir a função sobre as colunas da tabela
tabela_indices = datasets.get_rdataset("EuStockMarkets").data
tabela_indices

#regra geral: map(lambda argumento: funcao_a_ser_iterada, base_de_dados_onde_a_funcao_será_aplicada)
map(lambda x: normalizar(tabela_indices[x]), tabela_indices.columns)

In [57]:
#precisamos transformar o tipo de objeto ("map") cuspido pela funcao no objeto que desejamos (no caso, um dataframe). O ".T" é para transpor
pd.DataFrame(map(lambda x: normalizar(tabela_indices[x]), tabela_indices.columns)).T

           DAX       SMI       CAC      FTSE
0     0.047329  0.013290  0.058254  0.041714
1     0.044168  0.014814  0.050225  0.045972
2     0.042680  0.013363  0.038524  0.042894
3     0.045717  0.014169  0.034959  0.048589
4     0.045115  0.014536  0.040360  0.052258
...        ...       ...       ...       ...
1855  0.848307  0.898793  0.838344  0.848281
1856  0.811798  0.858732  0.804680  0.808568
1857  0.832945  0.882118  0.840576  0.816111
1858  0.826274  0.874073  0.842736  0.800026
1859  0.851085  0.892199  0.858326  0.814264

[1860 rows x 4 columns]